<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Film sitesi projesi</h1>
        <p class="lead">ASP.NET CORE ile geliştirilmiş bir film sitesidir (vahabyte)</p>
    </div>
</div>

